<footer class="text-center text-white py-4" style="background-color: #9b84f1;">
    <div class="container">
        <p class="mb-0">© 2024 All Rights Reserved</p>
        <p class="small mb-0">Developed by Fauzan Althaf Rianto | 20220140068</p>
    </div>
</footer>
